<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create new post</h1>
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Title:</label>
    <input name="title" id="title" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation"
    >
      <small>Enter title</small>
    </div>
  </div>
  <div
    class="form-control"
  >
    <label for="text">Post content</label>
    <quill-editor formControlName="text" id="text"></quill-editor>
  </div>
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
  >
    <label for="author">Author:</label>
    <input name="author" id="author" formControlName="author">
    <div
      *ngIf="form.get('author').touched && form.get('author').invalid"
      class="validation"
    >
      <small>Enter author</small>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-lock btn-dark"
    [disabled]="form.invalid"
    >
    Create post
  </button>
</form>
